@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Space+Grotesk:wght@400;500;700&display=swap');

:root {
    --color01: #FAFAFA;
    --color02: #1B2D4F;
    --color03: #D3D3D3;
    --color04: #000000;
    --color05: #97a4b6;
    --color06: #007bff;

    --font:  'Poppins', sans-serif;
}

body {
    font-family: var(--font);
    background: var(--color05);
}

header {
    min-height: 10vh;
    background: var(--color02);
    color: var(--color01);
}

header h1 {
    padding: 1rem;
    text-align: center;
    font-size: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;  
    align-items: center;
}

.user-info {
    position: absolute;
    float: left;
    display: flex;
    flex-direction: row;
    padding: 1rem 0 0 1rem;
}

.user-info i {
    font-size: 2rem;
}

.user-info-text {
    margin-left: 0.5rem;
}

.user-info p {
    font-size: 0.8rem;
}

.user-info a {
    font-size: 1rem;
    color: var(--color05);
}

main {
    min-height: 80vh;
    background: var(--color05);
}

/* ========================================== Tela de login ============================================= */

.login {
    background: var(--color02);
    color: var(--color01);
    
}

.container {
    background: var(--color05);
}

.login-container {
    max-width: 400px;
    display: block;
    margin: 0 auto;
}

.login-container img {
    display: block;
    margin: 0 auto;
    padding: 2rem 0;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.form-label {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}

.form-input {
    font-family: var(--font);
    color: var(--color04);
    margin-bottom: 1rem;
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
}

.form-input:focus {
    outline: none;
}

.login-submit {
    font-family: var(--font);
    color: var(--color02);
    background: var(--color03);
    cursor: pointer;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

.login-submit:hover {
    background-color: var(--color05);
}

.cadastro-message {
    color: var(--color03);
    font-size: 0.8rem;
}

.login-form p > a {
    color: var(--color03);
}

.error-message {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: #e76767;
}

footer {
    height: 10vh;
    background: var(--color02);
    color: var(--color01);
    text-align: center;
}

footer > p {
    padding: 1.5rem;
}

/* ================================== Tela de Cadastro de Usuário ======================================= */

.input-border {
    border: 1px solid var(--color04);
    padding: 0.5rem;
}

#cadastrar-usuario {
    margin-bottom: 1rem;
}

/* ========================================== Cards do Menu ============================================= */

.menu-container {
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    padding: 2rem 1rem;
}

.card {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-items: center;
    padding: 20px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.card-text {
    color: #666;
    margin-bottom: 20px;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    outline: none;
    border: none;
}

.btn-primary {
    background-color: var(--color06);
    color: var(--color01);
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-secondary {
    background-color: var(--color02);
    color: var(--color01);
}

.btn-secondary:hover {
    background-color: #545b62;
}

/* ========================================== Tela de Cadastro ============================================= */

.form-item {
    margin-bottom: 1rem;
}

.subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    max-width: 800px;
    min-height: 65vh;
    background: var(--color01);
    margin: 0 auto;
    margin-bottom: 1.5rem;
    border-radius: 0 0 15px 15px;
    padding: 1.5rem;
}

.subcontainer h2 {
    text-align: center;
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.cadastro-form {
    text-align: left;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-select {
    font-family: var(--font);
    font-size: 0.9rem;
    border: 1px solid var(--color05);
    border-radius: 4px;
}

.form-select:focus {
    outline: none;
}
  
.form-textarea {
    display: block;
    padding: 10px;
    font-family: var(--font);
    font-size: 0.9rem;
    margin-bottom: 2rem;
    border: 1px solid var(--color05);
    border-radius: 4px;
    resize: vertical;
}

.form-textarea:focus {
    outline: none;
}
  
.back-button {
    margin-top: 2rem;
}

#categoria{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px 10px;
}

/* ====================================== Tabela de visualização ========================================= */

.styled-table {
    text-align: center;
    border-collapse: collapse;
    border-radius: 5%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 0.9rem;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: var(--color02);
    color: var(--color01);
    text-align: center;
}

.styled-table th, .styled-table td {
    padding: 0.8rem 1rem;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--color02);
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: var(--color02);
}

.styled-table a {
    color: var(--color02);
    font-family: var(--font);
    font-size: 0.9rem;
}

.table-links {
    display: flex;
    flex-direction: column;
}

.table-button {
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

/* ========================================== Página 404 ============================================= */

.error_404_page {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
  
  .error_404_page .login-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 25px;
  }
  
  .error_404_page .login-text {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .error_404_page .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .error_404_page .btn:hover {
    background-color: #0056b3;
  }
  
/* ================================== Tela de sugestão de perguntas ==================================== */

.login-title{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--color01);
}

/* ================================== Configurações de responsividade ==================================== */

@media screen and (max-width: 820px) {
    .form-container {
        margin: 0;
        min-height: 80vh;
        border-radius: 0;
    }

    .user-info {
        display: none;
    }

    .menu-container {
        grid-template-columns: 1fr;
    }
}

/*================================= Sugestão enviada ==========================================*/

.card_sugestao {
    background-color: var(--color01);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:0 auto;
  }
  
  .card_sugestao .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: var(--color02);
  }
  
  .card_sugestao .card-text {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: var(--color05);
  }
  
  .card_sugestao .btn.btn-primary {
    background-color: var(--color06);
    color: var(--color01);
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
  }
  
  .card_sugestao .btn.btn-primary:hover {
    background-color: #0056b3;
  }
  