{% extends 'base.html' %}
    
{% block main %}

<main class="container">
    <section class="subcontainer">
        <h2>Cadastro de pergunta</h2>
      
      <form action="/cadastro" method="POST" class="cadastro-form">
        <label class="form-label form-item" for="categoria">Selecione uma categoria</label>
        <select class="form-select form-item" name="categorias" id="categoria">
          <option value="Geral">Geral</option>
          <option value="Transporte">Transporte</option>
          <option value="Matrícula">Matrícula</option>
          <option value="Eventos">Eventos</option>
          <option value="Estagios">Estagios</option>
          <option value="Bolsas">Bolsas</option>
        </select>

			<label class="form-label form-item" for="pergunta">Digite a pergunta a ser cadastrada</label>
			<textarea class="form-textarea" type="text" id="pergunta" name="pergunta" maxlength="200" required>{{pergunta}}</textarea>

			<label class="form-label form-item" for="resposta">Digite a resposta a ser cadastrada</label>
			<textarea class="form-textarea" type="text" id="resposta" name="resposta" maxlength="400" required></textarea>
			<input class="btn btn-primary" id="cadastrar" type="submit" value="Cadastrar">
    </form>
		<a href="/menu" class="btn btn-secondary form-item back-button">Voltar ao Menu </a>
    </section>
</main>

{% endblock %}