{% extends 'base.html' %}
    
{% block main %}

<main class="container">
    <section class="menu-container">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Perguntas cadastradas</h5>
                <p class="card-text">Veja a lista de perguntas já cadastradas</p>
                <a href="/perguntas" class="btn btn-primary">Visualizar</a>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Sugestões de perguntas</h5>
                <p class="card-text">Veja sugestões enviadas por alunos</p>
                <a href="/sugestoes_enviadas" class="btn btn-primary">Visualizar</a>
            </div>
        </div>
    </section>
</main>

{% endblock %}